{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <table class="video-table">

        {% for key, video in pager.currentPageResults %}

            {% if key % 5 == 0 %}{% if key > 0 %}</tr>{% endif %}<tr>{% endif %}

            <td class="video-block" align="center" valign="middle">
                <a href="{{ path('video_play', app.request.query.all|merge({video: video.link})) }}">
                    {% if video.thumbnail %}
                        <img class="thumbnail-image" src="{{ asset('video/' ~ video.thumbnail) }}" />
                    {% else %}
                        <img class="thumbnail-image" src="{{ asset('bundles/app/img/no-thumbnail.jpeg') }}" />
                    {% endif %}
                    <p>{{ video.link }}</p>
                </a>
            </td>

        {% endfor %}

    </table>

    <br/>

    <div class="text-center">
        {% for i in 1..pager.getNbPages() %}
            <a class="btn btn-primary video-button" href="{{ path('video_index', app.request.query.all|merge({page:i})) }}">{{ i }}</a>
        {% endfor %}
    </div>


{% endblock %}

