{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/video-js.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/videojs-ie8.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/video.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <h3>{{ 'app.player.player'|trans }}</h3>

            <div class="text-center">
                <video class="video-js" controls preload="auto" width="360" height="240" poster="{{ thumbnail }}" data-setup="{}">
                    <source src="{{ asset('video/' ~ link) }}" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>

            <br/>

            <a class="btn btn-primary video-back" href="{{ path('video_index', app.request.query.all) }}">{{ 'base.button.back'|trans }}</a>

        </div>
    </div>

{% endblock %}
