<div class="digi-box">
    {{ form_start(form) }}

    <div class="digi-step hide">0</div>

    <div
        class="digi-submit"
        data-endpoint="{{ path('digi_connect') }}"
        data-input="#pad"
        data-output="#pad"
    ></div>

    {% if failure|default(false) %}
    <div class="digi-message digi-text alert alert-danger">
        {{ 'digilogin.validation.failure'|trans }}
    </div>
    {% endif %}

    {% if revoked|default(false) %}
    <div class="digi-message digi-text alert alert-warning">
        {{ 'digilogin.validation.revoked'|trans }}
    </div>
    {% endif %}

    {% if success|default(false) %}
    <div class="digi-message digi-text alert alert-success">
        {{ 'digilogin.validation.success'|trans }}
    </div>
    {% endif %}

    <div class="digi-step-0 digi-input digi-text">
        {{ 'digilogin.connect.step.login'|trans }}
        {{ form_widget(form.login, {'attr': {'class': 'digi-field'}}) }}
    </div>

    <div class="digi-step-1 digi-input digi-text hide">
        {{ 'digilogin.connect.step.pin'|trans }}
        {{ form_widget(form.pin, {'attr': {'class': 'digi-field'}}) }}
    </div>

    {% set OK = '<span class="glyphicon glyphicon-ok-circle"></span>' %}
    {% set BS = '<span class="glyphicon glyphicon-remove-circle"></span>' %}
    {% set SP = '&nbsp;' %}

    {%
        set pad = [
            [1, 2, 3],
            [4, 5, 6],
            [7, 8, 9],
            [BS, 0, OK]
        ]
    %}

    <table class="digi-table">
        {% for row in pad %}
            <tr class="digi-row">
                {% for num in row %}
                    <td class="digi-cell">
                        {% set layout = 'primary' %}
                        {% set action = 'input' %}
                        {% if num is sameas(SP) %}
                            &nbsp;
                        {% elseif num is sameas(BS) %}
                            {% set layout = 'danger' %}
                            {% set action = 'backspace' %}
                        {% elseif num is sameas(OK) %}
                            {% set layout = 'success' %}
                            {% set action = 'validate' %}
                        {% endif %}
                        {% if num is not sameas(SP) %}
                            <a href="#" class="digi-btn btn btn-lg btn-{{ layout }}" data-action="{{ action }}">{{ num|raw }}</a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {{ form_end(form) }}

    <script type="text/javascript">

        function SetCaretAtEnd(elem) {
            var elemLen = elem.value.length;
            if (document.selection) {
                elem.focus();
                var oSel = document.selection.createRange();
                oSel.moveStart('character', -elemLen);
                oSel.moveStart('character', elemLen);
                oSel.moveEnd('character', 0);
                oSel.select();
            }
            else if (elem.selectionStart || elem.selectionStart === '0') {
                elem.selectionStart = elemLen;
                elem.selectionEnd = elemLen;
                elem.focus();
            }
        }

        $(document).ready(function () {

            $("#{{ form.login.vars.id }}").numeric();

            $('.digi-btn').click(function (e) {
                e.preventDefault();

                var that = $(this);
                that.css('-webkit-filter', 'invert(100%)');
                that.css('filter', 'invert(100%)');
                setTimeout(function() {
                    that.css('-webkit-filter', '');
                    that.css('filter', '');
                }, 100);

                var step = $('.digi-step').html();
                var field = null;
                if ('0' === step) {
                    field = $('#{{ form.login.vars.id }}');
                } else {
                    field = $('#{{ form.pin.vars.id }}');
                }

                var action = that.data('action');
                switch (action) {
                    case 'input':
                        field.val(field.val() + that.html());
                        SetCaretAtEnd(field[0]);
                        break;
                    case 'backspace':
                        if ('1' === step) {
                            if (field.val().length > 0) {
                                field.val('');
                            } else {
                                $('.digi-step').html('0');
                                $('.digi-step-0').removeClass('hide');
                                $('.digi-step-1').addClass('hide');
                            }
                        } else {
                            field.val(field.val().slice(0, -1));
                        }
                        SetCaretAtEnd(field[0]);
                        break;
                    case 'validate':
                        if ('0' === step) {
                            $('.digi-step').html('1');
                            $('.digi-step-0').addClass('hide');
                            $('.digi-step-1').removeClass('hide');
                        } else {
                            $('.digi-submit').domAjax();
                        }
                        break;
                    default:
                        break;
                }
            });

            {% if route|default(false) %}
                setTimeout(function() {
                    window.location.replace("{{ path(route, routeParams)|e('js') }}");
                }, 1000);
            {% endif %}

        });

    </script>

    {{
        mega_responsive(
            'bundles/digilogin/css/pad.css',
            'DigiLoginBundle/Resources/views/Connect/megaResponsive.twig',
            '.digi-box'
        )
    }}

</div>
